*{
  box-sizing: border-box;
}

@font-face {
  font-family: popins;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popinsBold;
  src: url(fonts/Poppins-Bold.ttf);
}

header{
  position: absolute;
  color: rgb(174, 161, 161);
  top: 0%;
  font-size: 32px;
  font-family: popinsBold;

}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
  height: 100vh;
  font-size: 55px;
  font-family: popins;
  background-color: black;
}

main {
  width: 80vw;
  height: 100%;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  position: relative;
  font-family: popinsBold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.time > p {
  margin: 0%;
  /* font-size: 3.4rem; */
  width: 5rem;
  text-align: center;
}

p.hour-colon-minute,p.minute-colon-second{
  width: 1rem;
}

.hidden{
  display: none;
}

.running-time {
  position: relative;
  height: 352px;
  width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid blueviolet;
  padding: 60px;
  border-radius: 50%;
  margin-top: 100px;
  transition: margin-top .2s ease-out;
  /* margin-top: 20px; */
}

.time-ms{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 40px;
  height: 40px;
  font-family: popinsBold;
  width: 85%;
}

.laps-time{
  position: absolute;
  bottom: 25px;
  font-size: 1.4rem;
  display: none;
  justify-content: space-around;
  /* gap: 0.2rem; */

}

.laps-time > span{
  font-family: popinsBold;
  color: rgb(184, 184, 184);
  width: 1.9rem;
  text-align: center;
  /* border: 1px solid red; */
}

.laps-time > span:nth-child(even){
  width: 0.7rem;
}

.laps-time > span:nth-last-child(1){
  width: 1rem;
}

.laps-display {
  /* border: 1px solid red; */
  position: absolute;
  top: 362px;
  bottom: 50px;
  font-size: 20px;
  display: none;
  flex-direction: column;
  padding: 5px;

  /* background-color: blue; */
}

.laps-head{
  position: sticky;
  top: 362px;
  border-bottom: 1px solid rgb(62, 62, 62);
  margin-top: 1rem;

}

.laps-head, .laps-list > li{
  display: grid;
  grid-template-columns: 60px 120px 120px;
  font-size: 0.9rem;
}


.laps-head > p, .laps-list > li > p{
  margin: 0%;
  padding: 10px 5px;
  text-align: center;
  color: rgb(184, 184, 184);
}

.laps-head > p:nth-child(1), .laps-list > li > p:nth-child(1){
  text-align: start;
}

.laps-head > p:nth-child(3), .laps-list > li > p:nth-child(3){
  text-align: end;
}

.laps-list > li > p:nth-child(3),.laps-list > li > p:nth-child(1){
  color: white;
}


.laps-list{
  padding: 0%;
  margin: 0%;
  list-style: none;
  overflow-y: scroll;
  scrollbar-width: none;


}

.laps-list > li > p{
  font-size: 1.1rem;
  padding: 12px 5px 0px;
}

.laps-list{
  padding-bottom: 80px;
}


.laps-list > .green > p:nth-child(1){
  color: rgb(2, 181, 2);
}

.laps-list > .red > p:nth-child(1){
  color: red;
}


.action {
  display: grid;
  grid-template-columns:  100px 220px 100px;
  grid-template-rows: 120px;
  position: absolute;
  bottom: 0px;
  padding: 10px 0 10px;
  /* border: 1px solid; */
  background: linear-gradient(to top, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0));
  /* background-color: rgba(0, 255, 255, 0.49); */
}

.action section {
  display: flex;
  justify-content: center;
  align-items: center;
}


.play-btn, .pause-btn{
  position: relative;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none;
  background: none;
  background-color: rgb(105, 155, 155);
  cursor: pointer;

}

.play-and-pause img{
  height: 32px;
  width: 32px;
}

.play-btn{
  transition: width .2s ease-in, border-radius .2s ease-in;
}

.pause-btn{
  transition: width .2s ease-in, border-radius .2s ease-in;
}



.reset,
.time-laps {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(138, 106, 169);
  cursor: pointer;
}


@media(width<450px){

  .action{
    grid-template-columns: 60px 200px 60px;
    left: 0;
    right: 0;
    justify-content: space-evenly;
  }
}


@media (width<360px) {
  body {
    font-size: 35px;
  }

  .ms {
    font-size: 35px;
    font-family: popinsBold;
  }

  .running-time {
    height: 312px;
    width: 312px;
    padding: 20px;
  }

  .action{
    grid-template-columns: 50px 160px 50px;
  }




  .reset,
  .time-laps {
    height: 50px;
    width: 50px;
  }

  .time > p{
    width: auto;
  }
}
